* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: #132743;
    font-size: 20px;

}

footer {
    text-align: center;
    background-color: #407088;
    color: white;
    padding: 10px;
    font-size: 20px;
    clear: left;
}

footer a {
    text-decoration: none;
}

footer a:hover {
    color: #ffcbcb;
}

div {
    margin-bottom: 1em;
}


aside {
    background-color: #70adb5;
    padding: 10px;
    margin: 10em 2em;
    width: 20%;
    float: left;
    border: solid 3px teal;
}

aside a {
    display: block;
    text-align: center;
    color: rgb(226, 224, 224);
    text-decoration: none;
}

aside a:hover {
    color: #ffcbcb;
}


main {
    width: 70%;
    float: left;
    clear: right;
    margin-bottom: 20px;
    padding: 5px;
}

h1,
h2,
h3 {
    padding: 15px;
    text-align: center;
    margin: 5px;
}

h4,
p {
    font-size: 15px;
    text-align: justify;
    margin: 1em;
}

figcaption {
    font-size: 10px;
    text-align: center;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #407088;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #eea7a7
}

img {
    max-width: 100%;
    box-shadow: rgba(0, 0, 0, 0.5);
}

.films {
    box-shadow: 10px 10px 10px rgba(10, 10, 10, 0.5);
}


table {
    width: 100%;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    background-color: #1d385f;
    ;
}

th {
    text-align: center;
}

td {
    text-align: left;
}

table th {
    background-color: teal;
    color: white;
}