* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: blanchedalmond;
    font-size: 20px;
}

header {
    text-align: center;
    background-color: cadetblue;
    padding: 10px;
}

header a {
    display: block;
    color: white;
    text-decoration: none;
}

header a:hover {
    color: rgb(24, 212, 212);
}

footer {
    text-align: center;
    background-color: cadetblue;
    color: white;
    padding: 10px;
    font-size: 15px;
    clear: left;
}

div {
    margin-bottom: 1em;
}

#sunny {
    font-size: 15px;
}

aside {
    background-color: bisque;
    padding: 10px;
    margin: 10em 2em;
    width: 20%;
    float: left;
    border: solid 2px teal;
}

aside a {
    display: block;
    text-align: center;
    color: black;
    text-decoration: none;
}

aside a:hover {
    color: rgb(24, 190, 212);
}


main {
    width: 70%;
    float: left;
    clear: right;

}

h1,
h2,
h3,
p {
    padding: 15px;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: teal;
}

img {
    max-width: 100%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.tarjeta {
    border: solid 1px #333333;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

figcaption {
    text-align: center;
    font-size: 15px;
}

table {
    width: 100%;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 15px;
    text-align: left;
}

table th {
    background-color: teal;
    color: white;
}